# Core dependencies
marimo>=0.18.1
uvicorn[standard]

# Add other dependencies below
# HuggingFace integration
huggingface_hub

# Data processing
pandas
numpy
pyarrow
scipy
flatdict
toml

# Visualization
altair
vegafusion
vl-convert-python>=1.8.0

# Speculate Core
emcee
corner
astropy
extinction
sigfig
cuml-cu12
torch
torchvision

# Debugging and Profiling
pyinstrument
