# Core dependencies
marimo>=0.19.6
uvicorn[standard]

# Add other dependencies below
# HuggingFace integration
huggingface_hub

# Data processing
pandas
numpy
pyarrow
scipy
flatdict
toml

# Visualization
altair<6
vegafusion
vl-convert-python>=1.8.0

# Speculate Core
emcee
corner>=2.2.3
astropy
extinction
sigfig
cuml-cu12; sys_platform == 'linux'
torch
torchvision

# Debugging and Profiling
pyinstrument

# Arviz for MCMC diagnostics (last to avoid potential conflicts with other dependencies)
arviz>=0.23.0
tabulate